{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table>
        <thead>
            <tr>
                <th>Rôle</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>E-mail</th>
                <th>Activé</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.getRoleLabel(user.roles[0]) }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.actif ? 'Oui' : 'Non' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}